<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>
      Budget
    </ion-title>
      <ion-buttons end>
        <button ion-button icon-only  (tap)="presentActionSheet()">
          <ion-icon name="options" ></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

<div class="content_contact">
    <table>
      <tr>
        <td>
            <div class="images">
              <img src="assets/images/graphheader.png"/>
            </div>
         </td>
        <td> 
          <div class="textImages"> 
              Classement par entité de l'état
          </div> 
        </td>
      </tr>
    </table>    
  </div>  
  <div  *ngIf="showing" class="contentSpinner">    
      <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <ion-refresher  (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
              

  <ion-grid>
    <ion-row >
      <ion-col  *ngFor="let minis of ministere" class="rouge" (tap)="goToDetailsMinistere(minis)">
      
          <div class="images">
            <img src="{{minis.photoUrlEntite}}"/>
          </div>
           <h2> {{minis.acronymeEntite}} </h2>
            <p> {{minis.nomEntite}} <br/></p>
            <ion-badge item-end>  
                <span id="currency-default"> 
                  {{minis.montantEntite}} Gourdes
                </span>
            </ion-badge>  
            </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!--  {{minis.montantEntite | currency}} Gourdes -->