<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>
      Budget
    </ion-title>
      <ion-buttons end>
        <button ion-button icon-only  (tap)="presentActionSheet()">
          <ion-icon name="options"> </ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

<div class="content_contact">
    <table>
      <tr>
        <td>
            <div class="images">
              <img src="assets/images/graphheader.png"/>
            </div>
         </td>
        <td> 
          <div class="textImages"> 
              Classement par entité de l'état.
          </div> 
        </td>
      </tr>
    </table>    
  </div>  
    
  <div  *ngIf="showing" class="contentSpinner">    
      <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <ion-refresher  (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
              

  <div class="iongrid">
    <div class="ionrow">
      <div class ="ioncol"  *ngFor="let minis of ministere" class="rouge" (tap)="goToDetailsMinistere(minis)">
        <div class="content_item">
        <div class="images">
            <img src="http://websitedemo.biz/hbws/img/uploads/{{minis.photoUrlEntite}}"/>
          </div>
           <h2> {{minis.acronymeEntite}} </h2>
            <p> {{minis.nomEntite}} <br/></p>
            <ion-badge item-end>  
                <span id="currency-default"> 
                  {{minis.montantEntite | number:'4.2-2'}} Gourdes
                </span>
            </ion-badge>  
            
          </div>
        </div>
      </div>
  </div>
<!--
  <ion-list  *ngFor="let minis of ministere" class="rouge" (tap)="goToDetailsMinistere(minis)">
    <ion-item >
      <ion-avatar item-start>
        <img src="http://websitedemo.biz/hbws/img/uploads/{{minis.photoUrlEntite}}"/>
      </ion-avatar>
      <h2>{{minis.acronymeEntite}} </h2></b>
      <h2>{{minis.nomEntite}} </h2>
      <h2> {{minis.montantEntite | number:'4.2-2'}} Gourdes</h2>
    </ion-item>
  </ion-list>-->

</ion-content>
<!--  {{minis.montantEntite | currency}} Gourdes -->