<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Projet 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (keyup.enter)="findProjet($event)">
    <ion-searchbar 
    [ngModelOptions]= "{standalone:true}"
    color="primary"
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel">
  </ion-searchbar>
  </form>
  
  <div  *ngIf="showing" class="contentSpinner">    
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                  pullingIcon="arrow-dropdown"
                  pullingText="Pull to refresh"
                  refreshingSpinner="circles"
                  refreshingText="">
        </ion-refresher-content>
    </ion-refresher>
                
<ion-list *ngFor="let pro of projet" id="yesData">
  <div *ngIf="pro.acronymeEntite; else noData">
      <div class="table">
          <div class="imagesProjet">
            <img src="http://websitedemo.biz/hbws/img/uploads/{{pro.photoUrlEntite}}"/>
          </div>
  
          <div class="contentTitre">
              <h2>{{pro.acronymeEntite}}</h2>
              <h3> {{pro.libelle_cartographie}}</h3>    
              <b> {{pro.designation}}</b>    
          </div>
        
          <div class="contentDesc">
              <b> {{pro.montant | number:'4.2-2'}} Gourdes</b><br/>
              <p> {{pro.libele_projet}}</p>
          </div>
      </div> 
  </div>
</ion-list>

<div id="noData" *ngIf="projet == null || projet.length == 0">
  <div class="noProjet"> 
    <div class="nothing">
       <img src="assets/images/projet.png" width="40%" height="40%"/>
    </div>
    <div class="text"> 
        Pas de projet pour cet departement ! 
    </div>
  </div>
</div>

</ion-content>