<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Projet 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- 
    id_projet": "1",
    "libele_projet": "Construction 90 km de route ville geremie ",
    "montant": "5000000",
    "photoProjet": "urlPhotoProjet",
    "porteProjet": "Departementale",
    "id_sources": "2",
    "montantSources": "50000000",
    "libelleSources": "TResor publique",
    "projet": "1"
    photoUrlEntite
  -->
  <div  *ngIf="showing" class="contentSpinner">    
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                  pullingIcon="arrow-dropdown"
                  pullingText="Pull to refresh"
                  refreshingSpinner="circles"
                  refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
                

<ion-list *ngFor="let pro of projet"   (tap)="goToDetailsProjet()" >

    <ion-item>
       <ion-avatar item-start>
              <img src="{{pro.photoUrlEntite}}">
        </ion-avatar>
       <h1>{{pro.libele_projet}}</h1>
        <p> {{pro.montant}} Gdes</p>    
    </ion-item> 

</ion-list>
</ion-content>