<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>
      {{detailsministere.acronymeEntite}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="content_contact">
        <table>
          <tr>
            <td>
                <div class="images">
                  <img src="http://websitedemo.biz/hbws/img/uploads/{{detailsministere.photoUrlEntite}}"/>
                </div>
             </td>
            <td> 
              <div class="textImages"> 
                    {{detailsministere.nomEntite}} 
              </div> 
            </td>
          </tr>
        </table>
      <div class="textAbout" padding>
         <h2>{{detailsministere.montantEntite | number:'4.2-2' }} Gdes </h2>
        </div>
    </div>
    <div padding>
        <ion-segment [(ngModel)]="choice">
          <ion-segment-button value="dep">
            Fonctionnement
          </ion-segment-button>
  
          <ion-segment-button value="inv">
            Investissement
          </ion-segment-button>

          <ion-segment-button value="sousentiti">
            Sous entité  
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="choice">
        <ion-list *ngSwitchCase="'dep'">
            <ion-list>
              <div class="titreListe" padding> Creédit de fonctionement </div>
              <ion-item *ngFor="let dep of depense">
                  <h2> {{dep.libele_depense}}</h2>
                  <p>  {{dep.montant_depense | number:'4.2-2'}} Gdes </p>
              </ion-item>
            </ion-list>
        </ion-list>
      
        <ion-list *ngSwitchCase="'inv'">
          
            <ion-list>
                <div class="titreListe" padding> Crédit d'investissement </div>
                <ion-item *ngFor="let inves of investissement">
                    <h2> {{inves.libele_investissement}}</h2>
                    <p>  {{inves.montant_investissement | number:'4.2-2'}} Gdes </p>
                </ion-item>
            </ion-list>
          
        </ion-list>

        <ion-list *ngSwitchCase="'sousentiti'">
          
            <ion-list>
                <div class="titreListe" padding> Sous entité </div>
                <ion-item *ngFor="let sousent of sousEntite">
                    <ion-avatar item-left>
                        <img src="http://websitedemo.biz/hbws/img/uploads/{{sousent.photo_sousentite}}"/>
                    </ion-avatar>
                    <h2> {{sousent.acronyme_sousentite}}</h2>
                    <p> {{sousent.name_sousentite}}</p>
                    <p>  {{sousent.montant_sousentite | number:'4.2-2'}} Gdes </p>
                </ion-item>
            </ion-list>
          
        </ion-list>
    </div>
    <ion-refresher  (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles">
            </ion-refresher-content>
    </ion-refresher>
</ion-content>
